.back{
    background-image: url("images/pets.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 630px;}
   
body{
    background-color: #fff; 
    color: #181818; 
}
.piecesite{
    width: 1120px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 50px;
    padding-left: 50px;
    padding-top: 54px;
}
.list{
    list-style: none;
    display: flex;
    padding-top: 54px;
    padding-right: 20px;
}li{margin-right: 30px;}

.link{
    text-decoration: none;
    color: #333333;
    background-color: #fff;
    padding: 7px 8px 12px 7.5px ;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;}
.link:hover{
    background-color: #333333;
    color: #fff;
}
/*content*/
.header{
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    float: right;
    clear:both;
    margin: 0 0 0 0;
}
.content{
    padding-top: 50px;
    padding-right: 50px;
}
.last{
    padding-bottom: 30px;
    border-bottom: 10px solid #00b3ff;
}
.header__small{
    float: right;
    clear:both;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
.content__text{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    float: right;
    clear:both;
    margin: 0 0 0 0;
}
.weblink{
    font-size: 14px;
    font-family: serif;
    font-family: 'Montserrat', sans-serif;
    float: right;
    clear:both;
    color: #333333;
}
.content__icon{
    float: right;
    clear:both;
}
.small__icon{
    width: 19px;
    height: 19px;
    padding-left: 5px;
}
.content__order{
    float: right;
    clear:both;
    display: flex;
    flex-direction: row;
}
.order__link{
    text-decoration: none;
    float: right;
    clear:both;
}

.medium__text{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: #333333;
    padding-top: 42px;
    
}
.order__arrow{
    width: 20px;
    height: 20px;
    padding-top: 64px;
    padding-left: 10px;
   
}